In [1]:
!wget https://he-s3.s3.amazonaws.com/media/hackathon/brainwaves-machine-learning/clustering-financial-news/9379d3dc-0-dataset.tar.gz

--2019-01-25 04:09:49--  https://he-s3.s3.amazonaws.com/media/hackathon/brainwaves-machine-learning/clustering-financial-news/9379d3dc-0-dataset.tar.gz
Resolving he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)... 52.219.40.128
Connecting to he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)|52.219.40.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2962837 (2.8M) [application/x-tar]
Saving to: ‘9379d3dc-0-dataset.tar.gz’

9379d3dc-0-dataset. 100%[===================>]   2.83M  2.12MB/s    in 1.3s

2019-01-25 04:09:51 (2.12 MB/s) - ‘9379d3dc-0-dataset.tar.gz’ saved [2962837/2962837]

In [2]:
!tar -xvzf 9379d3dc-0-dataset.tar.gz

dataset/sample_submission.zip
dataset/news.csv
dataset/

In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('wordnet')
from textblob import Word
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

[nltk_data] Downloading package stopwords to /home/sanjit/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/sanjit/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [7]:
data = pd.read_csv('news.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 3 columns):
id          3000 non-null object
headline    3000 non-null object
text        3000 non-null object
dtypes: object(3)
memory usage: 70.4+ KB

In [8]:
data.head(5)

,id,headline,text
0,uid-1,Market Advances 5.12 More,NEW YORK (AP) - A prime rate reduction by New ...
1,uid-2,District Boosts Request For Anti-Terrorism Aid...,Mayor Anthony A. Williams petitioned the White...
2,uid-3,"Election? Here's How You Do It, Mate.",From our downunder perspective here in Austral...
3,uid-4,The Biggest Boom Ever,We are about to rewrite history. Unless a rece...
4,uid-5,Economic Aide Sees Uptrend,"Sedate and scholarly Dr. Arthur Burns, the ex-..."

In [9]:
data.iloc[0][1]

'Market Advances 5.12 More'

In [10]:
#from html.parser import HTMLParser

In [11]:
#parser = HTMLParser.HTMLParser()

In [12]:
# preprocessing of headline and text column
preprocess = ['headline', 'text']
stop = stopwords.words('english')
for column in preprocess:
    # to lowercase
    data[column] = data[column].apply(lambda x: " ".join(x.lower() for x in x.split()))
    # remove punctuation
    data[column] = data[column].str.replace('[^\w\s]','')
    # remove stop words
    data[column] = data[column].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [13]:
vectorizer = TfidfVectorizer(stop_words='english',max_features=500)
X = vectorizer.fit_transform(data['text'])

In [14]:
X

<3000x500 sparse matrix of type '<class 'numpy.float64'>'
	with 112866 stored elements in Compressed Sparse Row format>

In [15]:
X = X.toarray()

In [16]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 5)
X = pca.fit_transform(X)

In [17]:
explained_variance = pca.explained_variance_ratio_

In [18]:
explained_variance[:10]

array([0.02834437, 0.0178762 , 0.01658658, 0.01286246, 0.01235799])

In [19]:
true_k = 5
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=5, n_init=1, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [20]:
data['cluster'] = model.predict(pca.transform((vectorizer.transform(data['text'])).toarray()))

In [21]:
data['cluster'].value_counts()

2    978
0    558
4    493
3    492
1    479
Name: cluster, dtype: int64

In [22]:
submission = data[['id','cluster']]

In [23]:
submission.to_csv('result_a.csv')

In [26]:
x = vectorizer.transform(data['text'])

In [27]:
np.savetxt('result.txt', x.todense(), delimiter=" ")

In [28]:
x.shape

(3000, 500)

In [22]:
data['cluster'].value_counts()

1    2781
0     219
Name: cluster, dtype: int64

In [0]:
df = pd.read_csv('/content/result_a.csv')

In [24]:
df.head()

   Unnamed: 0     id  cluster
0           0  uid-1        1
1           1  uid-2        1
2           2  uid-3        1
3           3  uid-4        1
4           4  uid-5        1

In [25]:
df.shape

(3000, 3)

In [26]:
df.columns

Index(['Unnamed: 0', 'id', 'cluster'], dtype='object')

In [0]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [28]:
df.columns

Index(['id', 'cluster'], dtype='object')

In [29]:
df.head()

      id  cluster
0  uid-1        1
1  uid-2        1
2  uid-3        1
3  uid-4        1
4  uid-5        1

In [0]:
df.set_index('id',inplace=True)

In [31]:
df.head()

       cluster
id
uid-1        1
uid-2        1
uid-3        1
uid-4        1
uid-5        1

In [32]:
df.columns

Index(['cluster'], dtype='object')

In [33]:
df['cluster'].value_counts()

1    2781
0     219
Name: cluster, dtype: int64

In [0]:
df.to_csv('final_sub_a.csv')